# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db